body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #1c1c1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    color: #32cd32; /* Xanh lá */
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #32cd32;
    border-radius: 5px;
}

button {
    background-color: #32cd32;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #228b22;
}

.error-message {
    color: #ff5733;
    margin-top: 15px;
}

.action-buttons {
    margin-top: 20px;
}

.action-buttons a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #32cd32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.action-buttons a:hover {
    background-color: #228b22;
}
